
html {
    font-size: 1px;
}

body {
    font-family: "Roboto";
}

.start  {
    margin-bottom: 70rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

h1 {
    font-size: 30rem;
    color: #1f222c;
    /* font-weight: 700; */
    font-family: "Roboto Slab";
    text-align: center;
    margin-bottom: 75rem;
}

.input1 {
    padding: 15rem;
    border-radius: 5rem;
}

h2 {
    font-size: 20rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    color: #b3b3b3;
    /* font-weight: 700; */
    margin-bottom: 10rem;
}

.h204, .h205 {
    font-size: 20rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    color: #b3b3b3;
    /* font-weight: 700; */
    margin-bottom: 30rem;
}

.p04 {
    font-size: 18rem;
    color: #1f222c;
    /* font-weight: 700; */
    font-family: "Roboto";
    margin-bottom: 30rem;
}

.reg04 {
    margin-bottom: 30rem;
}

.reg1 {
    padding: 15rem;
    outline: none;
    border-radius: 3rem;
    background-color: #12d661;
    border: none;
    border: 1px solid transparent;
    color: white;
    width: 100%;
    display: block;
    font-size: 14rem;
    color: #ffffff;
    /* font-weight: 700; */
    font-family: "Roboto";
    text-align: center;
}

.input1::placeholder, .textarea1::placeholder {
    font-size: 14rem;
    color: #b3b3b3;
    /* font-weight: 400; */
    font-family: "Roboto";
}

.input1 {
    width: 100%;
    display: block;
    margin-bottom: 10rem;
    outline: none;
    border: 1rem solid #cccccc;

}

.form1 {
    max-width: 330rem;
}

.reg1:hover {
    border: 1rem solid black;
}

select {
    appearance: none;
    width: 100%;
    background-color: #fff;
    background-image: url(images/arrow.png);
    outline: none;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    border: none;
    width: 100%;
    display: block;
    border-radius: 5rem;
}   


.select1 {
    border: 1rem solid #cccccc;
    padding: 13rem;
    margin-bottom: 10rem;
    outline: none;
    border-radius: 5rem;
}



.textarea1 {
    resize: vertical;
    width: 100%;
    display: block;
    padding: 15rem;
    margin-bottom: 10rem;
    min-height: 130rem;
    outline: none;
    border: 1rem solid #cccccc;
    border-radius: 5rem;
}

.fixedform {
    position: fixed;
    z-index: 2;
    width: 310rem !important;
}

.infixedform {
    border-radius: 5rem;
    filter: drop-shadow(0rem 5rem 6rem rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1rem solid #e6e6e6;
    padding: 25rem;

}

.application {
    font-size: 18rem;
    color: #1f222c;
    /* font-weight: 700; */
    font-family: "Roboto";
    margin-bottom: 10rem;
}

.ppcolor {
    margin-bottom: 10rem;
}

.datep, .statusp {
    font-size: 14rem;
    color: #b3b3b3;
    /* font-weight: 700; */
    font-family: "Roboto";
}

.fixedform a {
    display: block;
    font-size: 13rem;
    color: #3e6aff;
    /* font-weight: 400; */
    font-family: "Roboto";
    text-decoration: none;
    margin-bottom: 10rem;
}

.input6 {
    padding: 10rem;
    width: 100%;
    margin-bottom: 10rem;
}

.label6 p {
    font-size: 13rem;
    color: #b3b3b3;
    /* font-weight: 400; */
    font-family: "Roboto";
    width: 100%;
    margin-bottom: 5rem;
}




.pfixedform {
    margin-bottom: 10rem;
    margin-left: 20rem;
}



.dat_input {
    padding: 10rem 15rem;
    outline: none;
    border: 2rem solid grey;
    font-size: 14rem;
}

.radio:checked + label {
    color: blue;
}

.radio:checked + label:before {
    border: 2rem solid #3e6aff;
    filter: grayscale(0);
}

.radio:checked + label:after {
    filter: grayscale(0);
}

.radio {
    display: none;
}

.man, .woman {
    position: relative;
    padding-left: 85rem;
    display: block;
}

.man{
    margin-bottom: 75rem;
}

/* .man:after {
    content: "";
    background-image: url(images/man.png);
    background-size: 40px 60px;
    position: absolute;
    width: 40px;
    height: 60px;
    left: 17px;
    top: -20px;
    filter: grayscale(1);
    transition: 0.3s;
    
} */

.man:before {
    position: absolute;
    content: "";
    width: 70rem;
    height: 70rem;
    border-radius: 35rem;
    background-image: url(images/man1.png);
    left: 0;
    top: -27rem;
    background-size: cover;
    border: 2rem solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
}


.woman:before {
    position: absolute;
    content: "";
    width: 70rem;
    height: 70rem;
    border-radius: 35rem;
    background-image: url(images/woman2.png);
    left: 0;
    top: -27rem;
    background-size: cover;
    border: 2rem solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

/* .woman:after {
    content: "";
    background-image: url(images/woman.png);
    background-size: 40px 60px;
    position: absolute;
    width: 40px;
    height: 60px;
    left: 15px;
    top: -22px;
    filter: grayscale(1);
    transition: 0.3s;
} */

.gender h2 {
    margin-bottom: 70rem;
    font-size: 20rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    color: #b3b3b3;
    /* font-weight: 700; */
    font-family: "Roboto";
}



.switch {
    display: none;
}

.switch + label {
    display: block;
    font-size: 14rem;
    padding-left: 65rem;
    position: relative;
    margin-bottom: 30rem;
}



.switch + label:before {
    content: "";
    width: 45rem;
    height: 25rem;
    border-radius: 12rem;
    background-color: #cfcfd1;
    position: absolute;
    left: 0;
    transition: 0.3s;

    
}

.switch + label:after {
    content: "";
    position: absolute;
    width: 21rem;
    height: 21rem;
    border-radius: 10rem;
    background-color: #ffffff;
    top: 2rem;
    left: 2rem;
    transition: 0.3s;

}



.switch:checked + label:after {
    left: 22px;
}

.switch:checked + label:before {
    background-color: #3e6aff;
}

.elements {
    margin-bottom: 50rem;
}

.elements_check {
    display: none;
}

.elements_1 {
    padding-left: 25rem;
}

.elements_check + label, .elements_check1 + label {
    position: relative;
    display: block;
    font-size: 14rem;
    color: #1f222c;
    width: 100%;
    /* font-weight: 400; */
    font-family: "Roboto";
    box-sizing: content-box;
}

.elements_check + label:before {
    position: absolute;
    content: "";
    width: 15rem;
    height: 15rem;
    border-radius: 7rem;
    background-color: #ffffff;
    border: 1rem solid #cccccc;
    left: -20rem;
    top: 0;
}

.elements_check:checked + label:before {
    background-color: #ffffff;
    border: 1rem solid #3e6aff;
}



.elements_check + label:after {
    position: absolute;
    content: "";
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
    background-color: #ffffff;
    top: 5rem;
    left: -15rem;
}


.elements_check:checked + label:after {
    background-color: #3e6aff;
}


.elements_check:checked + label:before {

}


label.disabled {
    font-size: 14rem;
    color: #b3b3b3 !important;
    /* font-weight: 400; */
    font-family: "Roboto";
}



.elements_check1 + label:before {
    content: "";
    position: absolute;
    width: 16rem;
    height: 16rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 1rem solid #cccccc;
    left: 0;
    top: 0;
}

.elements_check1 {
    display: none;
}

.elements_check + label {
    margin-bottom: 10rem;
}


.elements_check1 + label {
    margin-bottom: 10rem;
}

.elements_check1 + label:after {
    content: "";
    position: absolute;
    width: 9rem;
    height: 5rem;
    border-left: 1rem solid #ffffff;
    border-bottom: 1rem solid #ffffff;
    rotate: -45deg;
    top: 3rem;
    left: 4rem;
}



.elements_check1:checked + label:after {
    border-left: 1px solid #244dd7;
    border-bottom: 1px solid #244dd7;
}


.elements_check1:checked + label:before {
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}



.elements_check1 {
    display: none;
}

.gender + label:after {
    content: "";
    position: absolute;
    width: 9rem;
    height: 7rem;
    border-left: 1rem solid #ffffff;
    border-bottom: 1rem solid #ffffff;
    rotate: -45deg;
    top: 2rem;
    left: -21rem;
}



.elements_1 {
    display: flex;
    column-gap: 60rem;
}


.elements_date {
    padding: 25rem;
    border-radius: 3rem;
    background-color: #f7f7f7;
    border: 1rem solid #e5e5e5;
}



.elements h2 {
    font-size: 20rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    margin-bottom: 45rem;
}


hr {
    border: none;
    border-top: 1px solid #dcdcde;
}

.status {
    display: flex;
    column-gap: 40rem;
}


.date {
    display: flex;
    column-gap: 30rem;
    align-items: center;
}


.date_input {
    padding: 15rem;
}


.fixedform {
    margin-bottom: 50rem;
}

hr, .wrapper {
    margin-bottom: 50rem;
}


.tablegender + label {
    position: relative;
    display: block;
    font-size: 14rem;
    color: #1f222c;
    /* font-weight: 400; */
    font-family: "Roboto";
    box-sizing: content-box;
    padding-left: 30rem;
}

.tablegender + label:before {
    position: absolute;
    content: "";
    width: 15rem;
    height: 15rem;
    border-radius: 7rem;
    background-color: #ffffff;
    border: 1rem solid #cccccc;
    left: 0;
    top: 0;
}

.tablegender:checked + label:before {
    background-color: #ffffff;
    border: 1rem solid #3e6aff;
}



.tablegender + label:after {
    position: absolute;
    content: "";
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
    background-color: #ffffff;
    top: 5rem;
    left: 5rem;
}


.tablegender:checked + label:after {
    background-color: #3e6aff;
}







.gender_class {
    display: flex;
    column-gap: 40rem;
    margin-bottom: 10rem;
    font-size: 14rem;
}


.file {
    display: none;
}


.file + label {
    width: 170rem;
    height: 41rem;
    border-radius: 3rem;
    background-color: #3e6aff;
    font-size: 14rem;
    color: #ffffff;
    /* font-weight: 700; */
    font-family: "Roboto";
    text-align: center;
    padding: 10rem;
    display: inline-block;
    margin-bottom: 10rem;
    
}


.yourname {
    width: 340rem;
    height: 41rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 1rem solid #cccccc;
    font-size: 14rem;
    color: #b3b3b3;
    /* font-weight: 400; */
    font-family: "Roboto";
    padding: 10rem;
    margin-bottom: 10rem;
}



.yourpassword {
    width: 340rem;
    height: 41rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 1rem solid #cccccc;
    font-size: 14rem;
    color: #b3b3b3;
    /* font-weight: 400; */
    font-family: "Roboto";
    padding: 10rem;
    margin-bottom: 10rem;
}

.reg04, .reg05 {
    padding: 15rem 25rem;
    border-radius: 3rem;
    background-color: #12d661;
    font-size: 14rem;
    color: #ffffff;
    /* font-weight: 700; */
    font-family: "Roboto";
    text-align: center;
    border: 1rem solid #12d661;
    cursor: pointer;
}



.reg04:hover {
    border: 1px solid #097735;
}


.comment {
    margin-right: 85rem;
}


.tdcom {
    vertical-align: top;
}

input {
    outline: none;
}

.yourname {
    width: 100%;
}

td label {
    font-size: 14rem;
}

td p {
    font-size: 14rem;
}

.flex {
    align-items: center;
    display: flex;
    border: none;
    border-top: 1rem solid #dcdcde;
    width: 100%;
}

 
.ppcolor {
    font-size: 13px;
    color: #b3b3b3;
    /* font-weight: 400; */
    font-family: "Roboto";
    margin-bottom: 10rem;
}  


.pppcolor {
    font-size: 14rem;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}


.goback {
    font-size: 14rem;
    color: #6e6f77;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    padding: 15rem 25rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 1rem solid #85868d;
    cursor: pointer;
}

.goback:hover {
    background-color: #85868d;
    color: white;
}

.w100 {
    width: 100%;
}


.tdflex {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.rules_of_pay {
    box-sizing: border-box;
}

.rules {
    padding-left: 25rem;
}

.part {
    width: 100%;
    height: 25rem;
    margin-bottom: 25rem;
    border-bottom:1rem solid #e9e9e9;
}


.tdpart {
    width: 100%;
}

.gender_input + label:before {
    content: "";
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 7rem;
    background-color: #ffffff;
    border: 1rem solid #cccccc;
    left: 0;
}

.gender_input + label {
    position: relative;
    padding-left: 25rem;
}


.gender_input {
    display: none;
}

.gender_input + label:after {
    content: "";
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #fff;
    left: 5rem;
    top: 5rem;
}

.gender_input:checked + label:after {
    background-color: #3e6aff;
}


.gender_input:checked + label:before {
    content: "";
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 7rem;
    background-color: #ffffff;
    border: 1rem solid #3e6aff;
    left: 0;
}

.fixedform {
    position: fixed;
    right: 7.5%;
    top: 175rem;
}



.lfixedform {
    padding-left: 5rem;
}

.forgetpassword {
    padding-left: 20rem;
}

.elements_1 label:not(input[type="radio"] + label) {
    padding-left: 5rem;
}

.infixedform {
    content: "";
    position: relative;
}

.cross {
    cursor: pointer;
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2rem;
    background-color: #6e6f77;
    top: 10rem;
    right: 10rem;
}


.cross:before {
    rotate: 45deg;
}


.cross:after {
    rotate: -45deg;
}

.gender .man, .gender .woman {
    font-size: 14rem;
}

.gender-and-switch {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20rem;
    row-gap: 50rem;
    justify-content: space-between;
}


@media (min-width: 1440px) {
    .cross {
        display: none;
    }
}



@media (max-width: 1440px) {
    .fixedform {
        right: 10%;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 1.3px;
    }
}


@media (max-width: 900px) {
    .burger-span {
        position: fixed;
        display: block;
        top: 20rem;
        left: 4rem;
        z-index: 2;
        height: 3rem;
        width: 30rem;
        background-color: #1f222c;
    }

    .burger-span:before {
        content:"" ;
        position: absolute;
        display: block;
        z-index: 2;
        top: -10rem;
        left: 0;
        height: 3rem;
        width: 30rem;
        background-color: #1f222c;
    }

    .burger-span:after {
        content:"" ;
        position: absolute;
        display: block;
        z-index: 2;
        top: 10rem;
        left: 0;
        height: 3rem;
        width: 30rem;
        background-color: #1f222c;
    }

    .elements_date {
        padding: 5rem;
    }


    .switch + label {
        display: flex;
        flex-wrap: wrap;
    }

    .elements:not(.punkt) {
        padding-left: 0;
    }


    .elements_check1 + label:before {
        content: "";
        position: absolute;
        width: 16rem;
        height: 16rem;
        border-radius: 3rem;
        background-color: #ffffff;
        border: 1rem solid #cccccc;
        left: -20rem;
        top: 0;
    }

    .elements_check1 + label:after {
        content: "";
        position: absolute;
        width: 9rem;
        height: 5rem;
        border-left: 1rem solid #ffffff;
        border-bottom: 1rem solid #ffffff;
        rotate: -45deg;
        top: 3rem;
        left: -16rem;
    }

    .elements_date label::before {
        left: 0;
    }

    .elements_date label::after {
        left: 4px;
    }

    .elements_date {
        margin-left: -25rem;
        padding: 5rem;
    }

    .status p {
        margin-bottom: 7rem;
    }


    .elements_1 label:not(input[type="radio"] + label) {
        padding: ;
    }

    
    
    .elements_date {
        width: 100% !important;
    }

    .elements_1 {
        display: flex;
        flex-wrap: wrap;
    }

    .status {
        display: flex;
        flex-wrap: wrap;
    }

    .fixedform {
        display: none;
    }


    .p04t td:first-child {
        display: none;
    }

    .date {
        flex-wrap: wrap;
    }

    .date label {
        padding-left: 0 !important;
    }


    .table05 {
        min-width: 700rem;
    }

    .table05overflow {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .fixedform h2 {
        background-color: #fff;
    }
}

@media (max-width:425px) {
    .gender-and-switch {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20rem;
        row-gap: 50rem;
    }

    .tf {
        display: flex;
    }

    .p04t {
        width: 100%;
        max-width: 500rem;
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0 15px;
    }

    .p04t input, .p04t input, .p04t textarea, .p04t input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    
    
}

.fixedform.active {
    display: block;
}

.elements_date .status label {
    padding-left: 25rem !important;
}